<div class="row">
	<div class="col-12">
		<p>This browser is managed by the <a href="https://depstein.net/pielab">PIE Lab</a> at University of California, Irvine manages, but anyone is welcome to suggest a paper. We require all indexed publications be peer reviewed, in English, archival, and relevant to personal informatics. Typical publication venues include (but are not limited to) CHI, IMWUT, PervasiveHealth, and CSCW.</p>
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdPlcdIQmQasEgwtI1ajCwIorMonM-kLjVv2CP-VvpbL_gEIw/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
	</div>
</div>