<div class="container-fluid">
	<div class="row">
		<div class="col-12">
		    <p>This project is a living repository of papers relevant to <a href="personalinformatics.org">Personal Informatics</a>, a research area which examines technology people use for self-understanding. This repository was originally developed for a literature review mapping contributions to the literature:</p>
			<cite><span class="authors">Daniel A. Epstein, Clara Caldeira, Mayara Costa Figueiredo, Xi Lu, Lucas M. Silva, Lucretia Williams, Jong Ho Lee, Qingyang Li, Simran Ahuja, Qiuer Chen, Payam Dowlatyari, Craig Hilby, Sazeda Sultana, Elizabeth V. Eikey, Yunan Chen</span>. <span class="title">Mapping and Taking Stock of the Personal Informatics Literature</span>. <span class="venue">PACM on Interactive Mobile, Wearable and Ubiquitous Technologies (IMWUT) 4, 4. <a href="https://depstein.net/assets/pubs/depstein_imwut20.pdf">https://depstein.net/assets/pubs/depstein_imwut20.pdf</a></span></cite>
			<p>If you use this repository in your own work, please cite this paper.</p>
		    <p>If you wish to add a paper to the repository, you can suggest it by filling out our <a href="/article">Google Form</a>. We require all indexed publications be peer reviewed, in English, archival, and relevant to personal informatics. Common publication venues include (but are not limited to) CHI, IMWUT, PervasiveHealth, and CSCW. Any questions about the repository can be sent to <a href="http://depstein.net/">Daniel Epstein</a>.</p>
			<p>
			Development of this website was led by Daniel Epstein, with assistance from Simran Ahuja, Payam Dowlatyari, and Sazeda Sultana. The website is hosted on <a href="https://github.com/depstein/personalinformatics-metareview">GitHub</a>.
			</p>
		</div>
	</div>
</div>