<div ng-app="" class="indent">
  <div class="card">

    <form class="container text-indent-inside-card" (submit)="processForm()">
      <p class="thicker">Metadata regarding your papers</p>
      <div class="form-group">
        <p for="email" class="bold3">1. Email address: </p>
        <input type="text" name="email" [(ngModel)]="email" class="input-box-indent" size="50">
      </div>

      <div class="form-group">
        <p for="exampleFormControlFile1" class="bold3">2. Upload a bibtex file: </p>
        <input type="file" class="uploadfile" accept="Bibtex" id="upload"
          (change)="readAndParseFile($event.target.files)">
      </div>

      <p>or</p>

      <div class="form-group">
        <p class="bold3">Enter data manually</p>
      </div>
      <div class="form-group">
        <p for="text" class="text-color">Title </p>
        <input name="title" [(ngModel)]="form.title" class="input-box-indent" size="80" />
      </div>

      <p for="text" class="text-color">Authors <br> Enter the author names and affiliations below, in the order they
        appear in the
        paper </p>

      <div class="form-group" *ngFor="let author of form.authors; let i=index">
        <input type="text" name="name{{i}}" class="input-box-indent" [(ngModel)]="form.authors[i]" size="50" />
        <span *ngIf="i > 0">
          <span (click)="removeForm(i)" class="btn">Remove</span>
        </span>
        <span *ngIf="i >= 0">
          <span (click)="addForm()" class="btn">Add</span>
        </span>
      </div>

      <div class="form-group">
        <p for="text" class="text-color">Year published: </p>
        <input name="year" [(ngModel)]="form.year" class="input-box-indent" size="20" />
      </div>

      <div class="form-group">
        <p for="text" class="text-color">Publication Venue: </p>
        <input name="venue" [(ngModel)]="form.venue" class="input-box-indent" size="80" />
      </div>

      <div class="form-group">
        <p for="text" class="text-color">Link to the Paper: </p>
        <input name="link" [(ngModel)]="form.link" class="input-box-indent" size="80" />
      </div>

      <div class="form-group">
        <p for="text" class="bold3">3. Fill out the survey to enter metadata about your paper</p>
        <a class="input-box-indent survey-text"
          href="https://docs.google.com/forms/d/e/1FAIpQLSdPlcdIQmQasEgwtI1ajCwIorMonM-kLjVv2CP-VvpbL_gEIw/viewform"
          target="_blank"> Paper Browser Tool Metadata Survey</a>
        <input name="survey" type="checkbox" [(ngModel)]="form.survey" />
      </div>
      <div id="btns">
        <button type="button" class="reset-button" (click)="onResetForm()">Reset</button>
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>

  </div>

</div>