
<!-- Payam new code and Sazeda's initial code below-->

<!-- <div class="card">
<div class="indent">

  <div class="card">

    <form class="container text-indent-inside-card" (submit)="processForm()">

      <h4><b>Metadata regarding your paper</b></h4>

      <p><b>1.</b> &nbsp; Email address</p>
      <input type="text" name="email" [(ngModel)]="form.email" class="input-box-indent" size="50"><br><br>


      <p><b>2.</b> &nbsp; Upload your Bibtex file <br> </p>
      <input type='file' name="bibFile" accept='Bibtex' multiple (change)='readFile($event.target.files)' class="input-box-indent"
        size="50">

      <br><br>

      &nbsp; &nbsp; &nbsp; or <br> <br>

      <p class="adding-color">&nbsp; &nbsp; &nbsp; Title</p>
      <input name="title" [(ngModel)]="form.title" class="input-box-indent" size="50" /><br><br>
      &nbsp; &nbsp; &nbsp; Enter the author names and affiliations below, in the order they appear in the paper
      <br>
      <p class="adding-color">&nbsp; &nbsp; &nbsp; First, Middle, Last</p>
      <input name="author.name1" [(ngModel)]="form.author.name1" class="input-box-indent" size="50" /><br><br>
      <input name="author.name2" [(ngModel)]="form.author.name2" class="input-box-indent" size="50" /><br><br>
      <input name="author.name3" [(ngModel)]="form.author.name3" class="input-box-indent" size="50" /><br><br>
      <h6 class="add-one-indent"> add one </h6>
      <h6 class="middle-indent">|</h6>
      <h6 class="remove-last-indent">remove last</h6><br><br>

      <p class="adding-color">&nbsp; &nbsp; &nbsp; Year Published</p>
      <input name="year" [(ngModel)]="form.year" class="input-box-indent" size="50" /><br><br>

      <p class="adding-color"> &nbsp; &nbsp; &nbsp;Publication Venue</p>
      <input name="venue" [(ngModel)]="form.venue" class="input-box-indent" size="50" /> <br><br>

      <p class="adding-color">&nbsp; &nbsp; &nbsp; Link to the paper</p>
      <input name="link" [(ngModel)]="form.link" class="input-box-indent" size="50" /> <br><br>

      <p><b>3.</b> &nbsp; Fill out the survey to enter metadata about your paper</p>
      <a class="input-box-indent"
        href="https://docs.google.com/forms/d/e/1FAIpQLSdPlcdIQmQasEgwtI1ajCwIorMonM-kLjVv2CP-VvpbL_gEIw/viewform">
        Paper Browser Tool Metadata Survey</a> &nbsp; &nbsp; &nbsp;
      <input name="survey" type="checkbox" [(ngModel)]="form.survey" /><br><br><br>

      <button type="submit" class="submit-button">Submit</button>
      <button type="button" class="reset-button" (click)="onResetForm()">Clear</button><br><br>
    </form>

  </div>

</div> -->

<!-- Simran Ahuja's code below-->

<html>
  <body>

    <div class="card">

      <form class="container text-indent-inside-card">
        <p class="thicker">Metadata regarding your papers</p>
        <div class="form-group">
          <p for="email" class="bold3">1. Email address: </p>
          <input type="email" class="inputbox" id="inputemail">
        </div>

        <div class="form-group">
          <p for="exampleFormControlFile1" class="bold3">2. Upload a bibtex file: </p>
          <input type="file" class="uploadfile" accept="Bibtex" id="upload" (change)="readAndParseFile($event.target.files)">
          <!-- <pre>{{bibtexFileString}}</pre> -->
        </div>
        <p>or</p>
        <div class="form-group">
          <p class="bold3">2. Enter data manually</p>
        </div>
        <div class="form-group">
          <p for="text" class="text-color">Title </p>
          <input *ngIf="entryTags.title" name="title" type="text" class="inputbox inputbox-large" id="inputtitle" [(ngModel)]="entryTags.title">
        </div>
        <div class="form-group">
          <p for="text" class="text-color">Authors </p>
          <p >Enter the author names and affiliations below, in the order they appear in the paper  </p>
          <p >First, Middle, Last</p>
          <div class="columns" *ngIf="authors">
            <input name="author" type="text" class="inputbox" id="inputname" placeholder="First, Middle, Last" [(ngModel)]="entryTags.authors[0]">
            <input name="author" type="text" class="inputbox" id="inputname" placeholder="First, Middle, Last" [(ngModel)]="entryTags.authors[1]">
            <input name="author" type="text" class="inputbox" id="inputname" placeholder="First, Middle, Last" [(ngModel)]="entryTags.authors[2]">
          </div>
          <div class="adding-authors">
            <a href="">add one </a>
            <a href="">|</a>
            <a href=""> remove last</a>
          </div>
        </div>
        <div class="form-group">
          <p for="text" class="text-color">Year published: </p>
          <input name="year" *ngIf="entryTags.year" type="text" class="inputbox" id="inputyear" [(ngModel)]="entryTags.year">
        </div>
        <div class="form-group">
          <p for="text" class="text-color">Publication Venue: </p>
          <input name="booktitle" *ngIf="entryTags.booktitle" type="text" class="inputbox inputbox-large " id="inputvenue" [(ngModel)]="entryTags.booktitle">
        </div>
        <div class="form-group">
          <p for="text" class="text-color">Link to the Paper: </p>
          <input name="url" type="text" class="inputbox inputbox-large" id="inputlink" [(ngModel)]="entryTags.url">
        </div>
        <div class="form-group">
          <p for="text" class="bold3">3. Fill out the survey to enter metadata about your paper</p>
          <a class="input-box-indent text-color" href="https://docs.google.com/forms/d/e/1FAIpQLSdPlcdIQmQasEgwtI1ajCwIorMonM-kLjVv2CP-VvpbL_gEIw/viewform" target="_blank"> Paper Browser Tool Metadata Survey</a>
        </div>

        <div class="form-check"> <!-- mb-2 mr-sm-2 -->
          <input class="form-check-input" type="checkbox" id="inlineFormCheck">
          <p for="inlineFormCheck">Completed</p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary mb-2 submit-button" (click)="displayAll()">Submit</button>
        </div>
      </form>
    </div>

  </body>
</html>




