
<div class="container-fluid">
    <!-- <div class="row search-box text-center">
			<div class="col-3 input-group mb-3"></div>
      <div class="col-9 input-group mb-3">
        <input class="form-control" type="text" [(ngModel)]="search" (ngModelChange)="searchFor()" placeholder="Search Articles ..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="clear()">Clear</button>
      </div>
		</div>
  </div> -->
  <hr>
  <div class="heading text-center"> <h3> WHO WE ARE </h3></div> <hr>
  <div class="paragraph text-left">
    <p>The Paper Browser will help you browse through over 500 academic and
      research papers using our search and filter functionality.
    </p>
    <p>We are here to answer any questions about the Paper Browser and
      about our journey working on this personal informatics project, which is our
      main research domain.
    </p>
    <p>Please contact us at <strong id="email">epstein@ics.uci.edu</strong> </p>
  </div> <hr>

  <div class="cards text-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Daniel Epstein</h5>
        <h6 class="card-subtitle mb-2 text-muted">Professor</h6>
        <p class="card-text">epstein@ics.uci.edu</p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Payam Dowlatyari</h5>
        <h6 class="card-subtitle mb-2 text-muted">Student</h6>
        <p class="card-text">pdowlaty@uci.edu</p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Sazeda Sultana</h5>
        <h6 class="card-subtitle mb-2 text-muted">Student</h6>
        <p class="card-text">sazedas@uci.edu</p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Simran Ahuja</h5>
        <h6 class="card-subtitle mb-2 text-muted">Student</h6>
        <p class="card-text">ahujas1@uci.edu</p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div> <br> <br>

  </div>



</div>
