
.sidebar{
	margin-left: 5px;
	padding: 0px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
	margin: 0px;
}

.checkbox > label {
	margin: 0px;
	display : inline;

}

.hidden {
	display: none;
}

.show {
	color: #333;
	background-color:#ebe8e8;
	font-family: inherit;
	text-transform: capitalize;
	border: none;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	cursor: pointer;
	display: block;
	border-radius: 5px;	

}
.show:hover{
	background-color: #ebe8e8;
	box-shadow: .5px .5px rgba(0, 0, 0, .2);
	color: #333;
	transition: .3s;
}

.badge{
	margin: 5px;
	cursor: pointer;

}

#checkbox-menu{
	  margin-left: 25px;
	  padding-left: 5px;
	  background-color: #aaaaaa;
	  color: #ffffff;
}

#checkbox-menu:hover{
	background-color: #888888;
}



