<div class="container-fluid">

	<div class="row search-box text-center">
			<div class="col-3 input-group mb-3">
					
			</div>
		<div class="col-9 input-group mb-3">
				<input class="form-control" type="text" [(ngModel)]="search" (ngModelChange)="searchFor()" placeholder="Search Articles ..." aria-label="Recipient's username" aria-describedby="button-addon2">
				<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="clear()">Clear</button>
				</div>
		</div>
	</div>
<div class="row">
	
	<div class="col-3">

			
	<div class="dropdown">
			<a class="btn btn-sm btn-block btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					More Options
				  </a>

	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<li *ngFor="let code of codes">

		<div *ngIf="getName(code)">
			
		<div *ngFor="let c of clusters[code]; let i=index">

				<div *ngIf="i == 0">
						<p class="show" (mouseover)="toggleHide(code)">{{hidden[code] === true ? getName(code)  : getName(code)}}</p>

					</div>
				<div *ngIf="counts[c] && getName(c)" class="checkbox" [ngClass]="{'hidden': i >= 0 && hidden[code]}">
					<input type="checkbox" [(ngModel)]="checked[code][c]" (ngModelChange)="check()" [name]="c" [id]="c"> <label [for]="c">{{getName(c)}} ({{counts[c]}})</label>
				</div>
				
			</div>
		</div>

		</li>
	
	</div>

	</div>

	
	</div>
	<div class="col-9">
		<strong id="paper-list">{{paperList.length}} matching papers</strong>
		<div *ngFor="let code of codes">
		<span *ngFor="let c of clusters[code]; let i=index">
		<span *ngIf = 'counts[c] && getName(c)' class="checkbox" [ngClass]="{'hidden': i >= 0 && hidden[code]}">
		<label [for]="c"><span *ngIf = 'checked[code][c]' class="badge badge-secondary">X {{getName(c)}}</span>  </label></span>
		</span>
	</div>
		<app-paper *ngFor="let paper of paperList" [id]=paper></app-paper>
	</div>
</div>

</div>