
.sidebar{
	margin: auto;
	padding: 0px;
}

.checkbox {
	margin: 0px;
}

.checkbox > label {
	margin: 0px;
	display : inline;

}

.hidden {
	display: none;
}

.show {
	color: #333;
	background-color:transparent;
	font-family: inherit;
	text-transform: capitalize;
	border: none;
	text-align: left;
	padding: 2px;
	margin-left: 3px;
	padding-left: 5px;
	cursor: pointer;	
}
.show:hover{
	background-color: #ebe8e8;
	color: #333;
	transition: .7s;
	border-left: .5px solid;
	padding-left: 10px;
}

.badge{
	margin: 5px;
	cursor: pointer;
}
.badge:hover{
	
}

#checkbox-menu{
	  margin-left: 35px;
}

