<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
	<nav class="nav row">
		<div class="d-none d-lg-block col-3">
			<a href="#">
				<img class="nav-link" src="assets/images/browser_logo.png" />
			</a>
		</div>
		<div class="d-none d-lg-block col-3">
		</div>
		<div class="col-lg-2 col-4">
			<button routerLink="/" class="nav-btn btn btn-block" type="button">Home</button>
		</div>
		<div class="col-lg-2 col-4">
			<button routerLink="/about" class="nav-btn btn btn-block" type="button">About</button>
		</div>
		<div class="col-lg-2 col-4">
			<button routerLink="/article" class="nav-btn btn btn-block text-truncate" type="button">Add an Article</button>
		</div>
	</nav>

	<router-outlet></router-outlet>
	<button class="btn btn-sm btn-light" *ngIf="showScroll" (click)="goToTop()" id="myBtn" title="Go to top">
		<span class="material-icons">keyboard_arrow_up</span>
	</button>
</div>
<footer class="footer">
	Copyright &copy; {{year}} Paper Browser
</footer>