<div class="container-fluid ">
	<div style="text-align:left">
		<nav class="nav">
			<a class="nav-link" href="#">  
				<h1 class="logo">
				Paper Browser
			</h1>
			</a>
			<div id="nav-btns">
			<button class="btn btn-sm btn-outline-primary" type="button">Contact Us</button>
			<button class="btn btn-sm btn-outline-primary" type="button">About Us</button>
			<button class="btn btn-sm btn-outline-primary" type="button">Add Articles</button>

		</div>
		  </nav>
	
	  <!-- <img src="./logo0.png"> -->

	</div>

	<router-outlet></router-outlet>
</div>