.logo{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 55px;
    color: green;
}

.logo img{
    width: 100%;
    color: green;
}

.navbar
.navbar-light
.bg-light{
    background-color: white;
}

#nav-btns{
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-right: 0%;
    margin-right: 10px;
    margin-left: auto;
 
}

#nav-btns button{
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    float: center;
    background-color:#ebe8e8;

    

}

a{
    /* color: darkblue; */
}

.nav-link img{
    width: 25rem;
}