<div class="container-fluid ">
	<div style="text-align:left">
		<nav class="nav">
			<a class="nav-link" href="#">  
				<!-- <h1 class="logo">
				Paper Browser
			</h1> -->
			<img src="../assets/images/LogoBlue.png"/>
			</a>
			<div id="nav-btns">
			<button class="btn btn-sm btn-light" type="button">Contact Us</button>
			<button class="btn btn-sm btn-light" type="button">About Us</button>
			<button class="btn btn-sm btn-light" type="button">Add Articles</button>

		</div>
		  </nav>
	
	  <!-- <img src="./paperBrowser.png"> -->

	</div>

	<router-outlet></router-outlet>
</div>