.logo{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 55px;
}

.logo img{
    width: 100%;
}

.navbar
.navbar-light
.bg-light{
    background-color: white;
}

#nav-btns{
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-right: 0%;
    margin-right: 10px;
    margin-left: auto;
 
}

#nav-btns button{
    margin-right: 10px;
    float: right;
}

a{
    /* color: silver; */
}

.nav-link img{
    width: 18rem;
}