<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
	<nav class="nav row">
		<div class="col-md-3 col-xs-12">
			<a href="#">
				<img class="nav-link" src="../assets/images/LogoBlue.png" />
			</a>
		</div>

		<div id="nav-btns" class="col-md-9 col-xs-12">

			<button routerLink="/" class="btn btn-sm btn-light" type="button">Home</button>
			<button routerLink="/about" class="btn btn-sm btn-light" type="button">About</button>
			<button routerLink="/article" class="btn btn-sm btn-light" type="button">Add an Article</button>

		</div>
	</nav>

	<router-outlet></router-outlet>
	<button class="btn btn-sm btn-light" *ngIf="showScroll" (click)="goToTop()" id="myBtn" title="Go to top">
		<span class="material-icons">keyboard_arrow_up</span>
	</button>
</div>
<footer class="footer">
	Copyright &copy; 2020 Paper Browser
</footer>