
#nav-btns{
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-right: 0%;
    margin-right: 10px;
    margin-left: auto;
 
}

#nav-btns button{
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    float: center;
    background-color:#ebe8e8;
    min-width: 100px;
    border-radius: 5px;
}

.nav-link img{
    width: 25rem;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

.top-bar{
   
    position: relative; 
    top: 0; 
    width: 100%; 
    
  }