<div class="card">
	<div class="card-body">
		<p *ngIf="display">
			{{author}}. <a [href]="link" target="_new">{{title}}</a>. {{venue}} ({{year}}).
		</p>
		<ul *ngIf="display">
			<li><em>ID: </em>{{id}}</li>
			<li><em>Our tags: </em><span *ngFor="let tag of tags; let last=last"><span *ngIf="getName(tag)">{{getName(tag)}}</span><span *ngIf="getName(tag) && !last">, </span></span></li>
		</ul>
		<p *ngIf="!display">Please select a paper with a valid ID (go back in your browser)</p>
	</div>
</div>