<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-12">
				{{author}}. <a [href]="link" target="_new">{{title}}</a>. {{venue}} ({{year}}).
			</div>
			<div class="col-12" *ngIf="!showId"><em>ID: </em>{{id}}</div>
			<div class="col-12"><em>Tags: </em><span *ngFor="let tag of tags; let last=last"><label class="badge badge-secondary" [for]="tag" *ngIf="getName(tag)">{{getName(tag)}}</label><span *ngIf="getName(tag) && !last"> </span></span></div>
			<div class="col-12">
				<a class="badge correction" href="https://docs.google.com/forms/d/e/1FAIpQLSd-MDnndPDQhkZwufj2UabubLmV71za5GWt5ay5ZfwLT9dbPA/viewform?entry.1600498993={{id}}" target="_new">Suggest a correction for this article</a>
			</div>
		</div>
	</div>
</div>